In [46]:
import requests
import json
from requests.models import HTTPBasicAuth
import pandas as pd 
import numpy as np
import datetime
from IPython.display import HTML
import doMail
import matplotlib.pyplot as plt

In [47]:
sevenDayAPI = "https://www.iso-ne.com/ws/wsclient?_ns_requestType=threedayforecast"
response = requests.get(sevenDayAPI, auth=HTTPBasicAuth(
    'info.rmsolutionss@gmail.com', 'JeffKramer1'))
json_data = response.json()
demandData = json_data[0]['data']

In [48]:
days = ['day1', 'day2', 'day3']
mwData= [[], [], []]
i = 0
while i < len(days):
    current = demandData[days[i]]
    for index in range(len(current)):
        row = current[index]['Mw']
        mwData[i].append(row)
    i+=1

In [60]:
day1 = datetime.date.today()
day2 = day1 + datetime.timedelta(days = 1)
day3 = day1 + datetime.timedelta(days = 2)

days = [
    day1.strftime("%m/%d/%y"), 
    day2.strftime("%m/%d/%y"), 
    day3.strftime("%m/%d/%y")
    ]


df = pd.DataFrame(
    mwData, 
    columns=[ 
        1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
        # 'Hour 01', 'Hour 02', 'Hour 03', 'Hour 04', 'Hour 05', 'Hour 06', 
        # 'Hour 07', 'Hour 08', 'Hour 09', 'Hour 10', 'Hour 11', 'Hour 12', 
        # 'Hour 13', 'Hour 14', 'Hour 15', 'Hour 16', 'Hour 17', 'Hour 18', 
        # 'Hour 19', 'Hour 20', 'Hour 21', 'Hour 22', 'Hour 23', 'Hour 24'
        ],
    index= [days]
)
df = df.transpose()
df.style
df

   07/08/21 07/09/21 07/10/21
1     13980    12260    12880
2     13100    11700    12190
3     12500    11350    11690
4     12140    11230    11360
5     12100    11370    11290
6     12530    11900    11380
7     13540    12760    11700
8     14580    13930    12370
9     15180    14860    13060
10    14870    15350    13760
11    15260    15790    14290
12    15680    16180    14770
13    15950    16480    15150
14    16190    16640    15480
15    16300    16740    15730
16    15790    16890    15990
17    16020    17350    16270
18    16250    17680    16560
19    15970    17550    16480
20    15460    17010    16070
21    14990    16640    15700
22    14360    15960    15160
23    13230    14980    14150
24    12070    13900    13090